/* sempre primeiro */
@import "react-calendar/dist/Calendar.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* pequenos ajustes visuais */
body { 
  @apply bg-gray-50 text-gray-800;
}
